.carousel-item {
     height: 30rem;
     background: #777;
     position: relative;
     background-position: center;
     background-size: cover;
     object-fit: cover;
}
.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.carousel-img {
    height: 100vh;
    object-fit: cover;
  }
  .move{

  margin-left: 50%;
  
  }